# Task 1: Small case scenario of dataset analysis

## 1.1 - Create a dataset (The Tate Collection)
As a first example, we will create our own small dataset. In particular, the dataset will consist of 10 artists which are present in the Tate Collection along with the corresponding year of birth, year of death, biological gender and number of artworks.

|          Name         | Gender |   Year_Birth  |   Year_Death  | N_works |
|-----------------------|--------|---------------|---------------|---------|
|     Beuys, Joseph     |  Male  |      1921	 |      1986     |   588   |
|    Constable, John    |  Male  |      1776	 |      1837	 |   249   |
|   Daniell, William    |  Male  |      1769	 |      1837	 |   612   |
|   Forbes, Elizabeth   | Female |      1859	 |      1912	 |   120   |
|     Flaxman, John     |  Male  |      1755	 |      1826	 |   287   |
|    Phillips, Thomas   |  Male  |      1770	 |      1845	 |   274   |
| Paolozzi, Sir Eduardo |  Male  |      1924	 |      2005	 |   385   |
|     Schendel, Mira    | Female |      1919	 |      1988	 |    3    |
|    Turner, William    |  Male  |      1775	 |      1851	 |  1861   |
|      Warhol, Andy     |  Male  |      1928	 |      1987	 |   272   |

**_[TO DO]_**: Let's create a DataFrame named **TateDataset** with the information showed in the above table.

**Note:** You can create arrays for each column and then build the DataFrame.
Remember to import the required libraries!

In [2]:
# @title Imports
import numpy as np
import pandas as pd

In [9]:
### TODO
tate_dataset = {'Name':['Beuys, Joseph','Constable, John','Daniell, William','Forbes, Elizabeth','Flaxman, John',
                        'Phillips, Thomas','Paolozzi, Sir Eduardo','Schendel, Mira','Turner, William','Warhol, Andy'],
                'Gender':['Male','Male','Male','Female','Male','Male','Male','Female','Male','Male'],
               'Year_Birth':['1921','1776','1769','1859','1755','1770','1924','1919','1775','1928'],
               'Year_Death':['1986','1837','1837','1912','1826','1845','2005','1988','1851','1987'],
               'N_works':['588','249','612','120','287','274','385','3','1861','272']}
tate_dataset=pd.DataFrame(tate_dataset)
tate_dataset

                    Name  Gender Year_Birth Year_Death N_works
0          Beuys, Joseph    Male       1921       1986     588
1        Constable, John    Male       1776       1837     249
2       Daniell, William    Male       1769       1837     612
3      Forbes, Elizabeth  Female       1859       1912     120
4          Flaxman, John    Male       1755       1826     287
5       Phillips, Thomas    Male       1770       1845     274
6  Paolozzi, Sir Eduardo    Male       1924       2005     385
7         Schendel, Mira  Female       1919       1988       3
8        Turner, William    Male       1775       1851    1861
9           Warhol, Andy    Male       1928       1987     272

## 1.2 - Data Acquisition (local file)

Data acquisition is a process of loading and reading data from various sources. We will learn how to export and read data from a local file in different format using  **Pandas** package. 

A file format is a standardised way in which information is encoded to be stored in a file. Some examples of file formats are: CSV, XLSX, and PKL. 

Let's practice with some examples.

###Â .CSV - Comma Separated Values

CSV is one of the most popular spreadsheet file format. In this kind of file, data is stored in cells. Each cell is organized in rows and columns. A column in the spreadsheet file can have different types. 

Let us look at how to create a CSV file. We can export a DataFrame with the Pandas function `to_csv()`. The file will be saved in the same location of this notebook unless specified otherwise. We can name the file **TateData.csv**.

**Note:** Once you have run the following cell, check the output file .

In [14]:
tate_dataset.to_csv('tate_dataset.csv', index=False, header=True)

To pull in the csv file, we will use the Pandas function `read_csv()`. We will import the previous file in a new DataFrame.

**Note:**  Depending on where you save your notebooks, you may need to modify the location below.

In [15]:
tate_1 = pd.read_csv('tate_dataset.csv')
tate_1

                    Name  Gender  Year_Birth  Year_Death  N_works
0          Beuys, Joseph    Male        1921        1986      588
1        Constable, John    Male        1776        1837      249
2       Daniell, William    Male        1769        1837      612
3      Forbes, Elizabeth  Female        1859        1912      120
4          Flaxman, John    Male        1755        1826      287
5       Phillips, Thomas    Male        1770        1845      274
6  Paolozzi, Sir Eduardo    Male        1924        2005      385
7         Schendel, Mira  Female        1919        1988        3
8        Turner, William    Male        1775        1851     1861
9           Warhol, Andy    Male        1928        1987      272

When we create the .CSV file, the only parameter we have used is **index**. 

**[TO DO]** What happens if we set the *index* parameter to True? And if you set also the parameter **header** to False?
Try by yourself.

In [16]:
tate_dataset.to_csv('tate_dataset1.csv', index=True, header=True)
tate_2 = pd.read_csv('tate_dataset1.csv')
tate_2
#Another column of index is shown

   Unnamed: 0                   Name  Gender  Year_Birth  Year_Death  N_works
0           0          Beuys, Joseph    Male        1921        1986      588
1           1        Constable, John    Male        1776        1837      249
2           2       Daniell, William    Male        1769        1837      612
3           3      Forbes, Elizabeth  Female        1859        1912      120
4           4          Flaxman, John    Male        1755        1826      287
5           5       Phillips, Thomas    Male        1770        1845      274
6           6  Paolozzi, Sir Eduardo    Male        1924        2005      385
7           7         Schendel, Mira  Female        1919        1988        3
8           8        Turner, William    Male        1775        1851     1861
9           9           Warhol, Andy    Male        1928        1987      272

Delete the csv file now that we are done using it.

In [17]:
tate_dataset.to_csv('tate_dataset2.csv', index=False, header=False)
tate_3 = pd.read_csv('tate_dataset2.csv')
tate_3
#The head row disappears and the first row of data beacomes a new head row

           Beuys, Joseph    Male  1921  1986   588
0        Constable, John    Male  1776  1837   249
1       Daniell, William    Male  1769  1837   612
2      Forbes, Elizabeth  Female  1859  1912   120
3          Flaxman, John    Male  1755  1826   287
4       Phillips, Thomas    Male  1770  1845   274
5  Paolozzi, Sir Eduardo    Male  1924  2005   385
6         Schendel, Mira  Female  1919  1988     3
7        Turner, William    Male  1775  1851  1861
8           Warhol, Andy    Male  1928  1987   272

### pickle â Python object serialization

This data format is Python-specific. This has the advantage that there are no restrictions imposed by external standards; however it means that non-Python programs may not be able to reconstruct pickled Python objects.

In [18]:
import pickle

tate_dataset.to_pickle('tate_dataset.pkl')

In [19]:
tate_2 = pd.read_pickle('tate_dataset.pkl')
tate_2

                    Name  Gender Year_Birth Year_Death N_works
0          Beuys, Joseph    Male       1921       1986     588
1        Constable, John    Male       1776       1837     249
2       Daniell, William    Male       1769       1837     612
3      Forbes, Elizabeth  Female       1859       1912     120
4          Flaxman, John    Male       1755       1826     287
5       Phillips, Thomas    Male       1770       1845     274
6  Paolozzi, Sir Eduardo    Male       1924       2005     385
7         Schendel, Mira  Female       1919       1988       3
8        Turner, William    Male       1775       1851    1861
9           Warhol, Andy    Male       1928       1987     272

## 1.3 - Look at the data

Now we will simply have a look at the data and make sure it is clean. 

### Data type
Let's check the data type of the imported variables and the original DataFrame.

In [20]:
# Check data type of the columns for Tate_1
tate_1.dtypes

Name          object
Gender        object
Year_Birth     int64
Year_Death     int64
N_works        int64
dtype: object

In [21]:
# Check data type of the columns for TateDataset
tate_dataset.dtypes

Name          object
Gender        object
Year_Birth    object
Year_Death    object
N_works       object
dtype: object

We can also display the values of a single column and check their data type as follow:

In [22]:
tate_dataset['Gender']

0      Male
1      Male
2      Male
3    Female
4      Male
5      Male
6      Male
7    Female
8      Male
9      Male
Name: Gender, dtype: object

# Task 2: Application Programming Interfaces (APIs)

## 2.1 - Downloading climate data from the Internet

We will now explore real world data, namely a dataset of climate information of 5 cities in Denmark between 1980-2018. The original raw-data was originally obtained from [National Climatic Data Center (NCDC)](https://www7.ncdc.noaa.gov/CDO/cdoselect.cmd).

In particular, the selected cities in Denmark are:
- Aalborg, 
- Aarhus, 
- Esbjerg, 
- Odense. 
- Roskilde

In the following, we will download the dataset using an API instead of loading a local source file.

### What is an API? 
Application Programming Interface (API) is a communication protocol between the user and the server (i.e., web server) that enables transmittion of data. The user making a request to an API server can download the desidered resources. 

### How to make a request in python?
There are many different way to request data. 
In the following, we will use the package **urllib** that collects several modules for working with URLs.

In particular, [urlib.request](https://docs.python.org/3/library/urllib.request.html#module-urllib.request) is a module for opening and reading URLs.

### - Download climate data


The following functions allow to download and store the dataset in a specific folder.

How to use:

- Set the source (i.e., URL) of the desidered dataset in `data_url`.
- Set the `data_dir` variable with the local directory where to store the data.
- Call `download_and_extract()` to download the dataset if it is not already located in the given data_dir.
- Load the data in the interactive Python notebook so ic can be used in your scripts (you can use `load_original_data()`).

In [23]:
#@title Functions to download data 
########################################################################
#
# This file is a partially modified version of one of the TensorFlow Tutorials available at:
#
# https://github.com/Hvass-Labs/TensorFlow-Tutorials
#
# Published under the MIT License. See the file LICENSE for details.
#
# Copyright 2018 by Magnus Erik Hvass Pedersen
#
########################################################################

import sys
import os
import urllib.request
import tarfile
import zipfile



def _print_download_progress(count, block_size, total_size):
    """
    Function used for printing the download progress.
    Used as a call-back function in maybe_download_and_extract().
    """

    # Percentage completion.
    pct_complete = float(count * block_size) / total_size

    # Limit it because rounding errors may cause it to exceed 100%.
    pct_complete = min(1.0, pct_complete)

    # Status-message. Note the \r which means the line should overwrite itself.
    msg = "\r- Download progress: {0:.1%}".format(pct_complete)

    # Print it.
    sys.stdout.write(msg)
    sys.stdout.flush()


def download(base_url, filename, download_dir):
    """
    Download the given file if it does not already exist in the download_dir.
    :param base_url: The internet URL without the filename.
    :param filename: The filename that will be added to the base_url.
    :param download_dir: Local directory for storing the file.
    """

    # Path for local file.
    save_path = os.path.join(download_dir, filename)

    # Check if the file already exists, otherwise we need to download it now.
    if not os.path.exists(save_path):
        # Check if the download directory exists, otherwise create it.
        if not os.path.exists(download_dir):
            os.makedirs(download_dir)

        print("Downloading", filename, "...")

        # Download the file from the internet.
        url = base_url + filename
        file_path, _ = urllib.request.urlretrieve(url=url,
                                                  filename=save_path,
                                                  reporthook=_print_download_progress)

        print(" Done!")


def download_and_extract(url, download_dir):
    """
    Download and extract the data if it doesn't already exist.
    Assumes the url is a tar-ball file.
    :param url:
        Internet URL for the tar-file to download.
    :param download_dir:
        Directory where the downloaded file is saved.
    """

    # Filename for saving the file downloaded from the internet.
    # Use the filename from the URL and add it to the download_dir.
    filename = url.split('/')[-1]
    file_path = os.path.join(download_dir, filename)

    # Check if the file already exists.
    # If it exists then we assume it has also been extracted,
    # otherwise we need to download and extract it now.
    if not os.path.exists(file_path):
        # Check if the download directory exists, otherwise create it.
        if not os.path.exists(download_dir):
            os.makedirs(download_dir)

        # Download the file from the internet.
        file_path, _ = urllib.request.urlretrieve(url=url,
                                                  filename=file_path,
                                                  reporthook=_print_download_progress)

        print()
        print("Download finished. Extracting files.")

        if file_path.endswith(".zip"):
            # Unpack the zip-file.
            zipfile.ZipFile(file=file_path, mode="r").extractall(download_dir)
        elif file_path.endswith((".tar.gz", ".tgz")):
            # Unpack the tar-ball.
            tarfile.open(name=file_path, mode="r:gz").extractall(download_dir)

        print("Done.")
    else:
        print("Data has apparently already been downloaded and unpacked.")

First, we define where we want to download the dataset (you are free to choose another directory) and the URL of the dataset to be downloaded.

In [24]:
# Location of the dataset on the internet.
data_url = "https://github.com/Hvass-Labs/weather-denmark/raw/master/weather-denmark.tar.gz"

# Local directory where you want to download and save the dataset.
data_dir = "weather-data/"

Now, we can download the dataset into the chosen local directory

In [25]:
download_and_extract(url=data_url, download_dir=data_dir)

- Download progress: 100.0%
Download finished. Extracting files.
Done.

**[TO DO]:** Check the local folder? In which format the dataset has been downloaded?

**[TO DO]:** Select a format and load the dataset .

In [ ]:
#CSV and PKL

In [3]:
weather_data=pd.read_csv('weather-data\weather-denmark.csv')
weather_data

             City             DateTime  Temp  Pressure  WindSpeed  WindDir
0         Aalborg  1980-03-01 00:00:00   5.0    1008.1       11.3    290.0
1         Aalborg  1980-03-01 00:20:00   4.0       NaN        9.2    270.0
2         Aalborg  1980-03-01 00:50:00   4.0       NaN        9.2    280.0
3         Aalborg  1980-03-01 01:20:00   4.0       NaN        9.2    280.0
4         Aalborg  1980-03-01 01:50:00   4.0       NaN        8.7    270.0
...           ...                  ...   ...       ...        ...      ...
2918145  Roskilde  2018-03-01 22:20:00  -5.0       NaN        5.1     70.0
2918146  Roskilde  2018-03-01 22:50:00  -5.0       NaN        4.1     70.0
2918147  Roskilde  2018-03-01 23:00:00  -5.3    1018.6        4.1     60.0
2918148  Roskilde  2018-03-01 23:20:00  -5.0       NaN        3.6     60.0
2918149  Roskilde  2018-03-01 23:50:00  -5.0       NaN        3.6     60.0

[2918150 rows x 6 columns]

**More advanced solution for loading dataset**:

In this case, the dataset was downloaded in two different formats. 
We can define the path where the files have been stored as follows:
- **path_original_data_pickle( )** is the location of the original data in pickle format
- **path_original_data_csv( )** is the location the original data in .csv

In [36]:
def path_original_data_pickle():
    return os.path.join(data_dir, "weather-denmark.pkl")

def path_original_data_csv():
    return os.path.join(data_dir, "weather-denmark.csv")

Now we can load the data in pickle format through the following function:

In [37]:
def load_original_data():
    return pd.read_pickle(path_original_data_pickle())

In [38]:
df = load_original_data()
df

                              Temp  Pressure  WindSpeed  WindDir
City     DateTime
Aalborg  1980-03-01 00:00:00   5.0    1008.1       11.3    290.0
         1980-03-01 00:20:00   4.0       NaN        9.2    270.0
         1980-03-01 00:50:00   4.0       NaN        9.2    280.0
         1980-03-01 01:20:00   4.0       NaN        9.2    280.0
         1980-03-01 01:50:00   4.0       NaN        8.7    270.0
...                            ...       ...        ...      ...
Roskilde 2018-03-01 22:20:00  -5.0       NaN        5.1     70.0
         2018-03-01 22:50:00  -5.0       NaN        4.1     70.0
         2018-03-01 23:00:00  -5.3    1018.6        4.1     60.0
         2018-03-01 23:20:00  -5.0       NaN        3.6     60.0
         2018-03-01 23:50:00  -5.0       NaN        3.6     60.0

[2918150 rows x 4 columns]

### - Undestanding the data

**_[TO DO]_**: Have a quick overview of the downloaded dataset. 
In particular, focus on:

- Understanding the variables contained in the dataframe
- Check the DateTime for 2 cities

In [44]:
weather_data.columns#Q1

Index(['City', 'DateTime', 'Temp', 'Pressure', 'WindSpeed', 'WindDir'], dtype='object')

In [45]:
df.columns

Index(['Temp', 'Pressure', 'WindSpeed', 'WindDir'], dtype='object')

In [57]:
weather_data.loc[(weather_data['City']=='Roskilde') | (weather_data['City']=='Aalborg')]['DateTime']

0          1980-03-01 00:00:00
1          1980-03-01 00:20:00
2          1980-03-01 00:50:00
3          1980-03-01 01:20:00
4          1980-03-01 01:50:00
                  ...
2918145    2018-03-01 22:20:00
2918146    2018-03-01 22:50:00
2918147    2018-03-01 23:00:00
2918148    2018-03-01 23:20:00
2918149    2018-03-01 23:50:00
Name: DateTime, Length: 1329749, dtype: object

## 2.2 - Interacting with a server to query a subset of some data bank

We will now learn how to query a data bank to retrieve only the relevant proportion data for a task. We will be using the World Bank Data API to access World's renewable energy consumtpion data.

You first need to install the World Bank API. In a terminal, run the following command:

``>> pip install wbdata``

In [58]:
%pip install wbdata

Collecting wbdata
  Downloading wbdata-0.3.0-py3-none-any.whl (14 kB)
Requirement already satisfied: tabulate>=0.8.5 in c:\users\11597\appdata\local\programs\python\python37\lib\site-packages (from wbdata) (0.8.7)
Requirement already satisfied: decorator>=4.0 in c:\users\11597\appdata\local\programs\python\python37\lib\site-packages (from wbdata) (4.4.2)
Requirement already satisfied: requests>=2.0 in c:\users\11597\appdata\local\programs\python\python37\lib\site-packages (from wbdata) (2.22.0)
Collecting appdirs<2.0,>=1.4
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\11597\appdata\local\programs\python\python37\lib\site-packages (from requests>=2.0->wbdata) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\11597\appdata\local\programs\python\python37\lib\site-packages (from requests>=2.0->wbdata) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\11597\appdata\local\programs\python\python37\lib\site-packages (from requests>=2.0->wbdata) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\11597\appdata\local\programs\python\python37\lib\site-packages (from requests>=2.0->wbdata) (1.25.8)
Installing collected packages: appdirs, wbdata
Successfully installed appdirs-1.4.4 wbdata-0.3.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.0.2; however, version 21.3 is available.
You should consider upgrading via the 'c:\users\11597\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

In [4]:
#@title Imports
import wbdata as wb
import datetime

### - Query the World Bank

* **_[TO DO]_**: Use the wbdata to retrieve renewable energy consumption data of all countries in 2015.

Hint: [wbdata documentation](https://wbdata.readthedocs.io/en/stable/)

In [62]:
wb.get_indicator(source=35)

id                              name
------------------------------  --------------------------------------------------------------------------
1.1_ACCESS.ELECTRICITY.TOT      Access to electricity (% of total population)
1.1_TOTAL.FINAL.ENERGY.CONSUM   Total final energy consumption (TFEC)
1.2_ACCESS.ELECTRICITY.RURAL    Access to electricity (% of rural population)
1.3_ACCESS.ELECTRICITY.URBAN    Access to electricity (% of urban population)
2.1_ACCESS.CFT.TOT              Access to Clean Fuels and Technologies for cooking (% of total population)
2.1_SHARE.TOTAL.RE.IN.TFEC      Renewable energy consumption(% in TFEC)
3.1_RE.CONSUMPTION              Renewable energy consumption (TJ)
4.1.1_TOTAL.ELECTRICITY.OUTPUT  Total electricity output (GWh)
4.1.2_REN.ELECTRICITY.OUTPUT    Renewable energy electricity output (GWh)
4.1_SHARE.RE.IN.ELECTRICITY     Renewable electricity (% in total electricity output)
6.1_PRIMARY.ENERGY.INTENSITY    Energy intensity level of primary energy (MJ/$2005 PPP)

In [12]:
import datetime
wb.get_data("3.1_RE.CONSUMPTION",data_date=datetime.datetime(2015, 1, 1))

[{'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BES', 'value': 'BES Islands'},
  'countryiso3code': '',
  'date': '2015',
  'value': 112.7886,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'NRU', 'value': 'Nauru'},
  'countryiso3code': '',
  'date': '2015',
  'value': 0.32988,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'NIU', 'value': 'Niue'},
  'countryiso3code': '',
  'date': '2015',
  'value': 16.63123,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'WLF', 'value': 'Wallis and Futuna'},
  'countryiso3code': '',
  'date': '2015',
  'value': 0,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'CCA', 'value': 'Caucasian and Central Asia'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GCA', 'value': 'Caucasus and Central Asia'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GEJ', 'value': 'Eastern Asia (including Japan)'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GEA', 'value': 'Eastern Asia (not including Japan)'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GEE', 'value': 'Eastern Europe'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GEU', 'value': 'Europe'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'HIC', 'value': 'High income'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'NOC', 'value': 'High income: nonOECD'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'OEC', 'value': 'High income: OECD'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GLC', 'value': 'Latin America and Caribbean'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'LMY', 'value': 'Low & middle income'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'LIC', 'value': 'Low income'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'LMC', 'value': 'Lower middle income'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'MIC', 'value': 'Middle income'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GNA', 'value': 'Northern America'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'LNX', 'value': 'Not classified'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'NAR', 'value': 'Nothern America'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GCN', 'value': 'Oceania'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GOC',
   'value': 'Oceania (not including Australia and New Zealand)'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GSE', 'value': 'South Eastern Asia'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GSA', 'value': 'Southern Asia'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GSS', 'value': 'Sub-Saharan Africa'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'UMC', 'value': 'Upper middle income'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GWA', 'value': 'Western Asia'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GWL', 'value': 'World'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'AFG', 'value': 'Afghanistan'},
  'countryiso3code': '',
  'date': '2015',
  'value': 25134.53,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'ALB', 'value': 'Albania'},
  'countryiso3code': '',
  'date': '2015',
  'value': 31555.45,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'DZA', 'value': 'Algeria'},
  'countryiso3code': '',
  'date': '2015',
  'value': 833.6698,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'ASM', 'value': 'American Samoa'},
  'countryiso3code': '',
  'date': '2015',
  'value': 4.968064,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'AND', 'value': 'Andorra'},
  'countryiso3code': '',
  'date': '2015',
  'value': 1642.52,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'AGO', 'value': 'Angola'},
  'countryiso3code': '',
  'date': '2015',
  'value': 243771.1,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'AIA', 'value': 'Anguilla'},
  'countryiso3code': '',
  'date': '2015',
  'value': 1.827,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'ATG', 'value': 'Antigua and Barbuda'},
  'countryiso3code': '',
  'date': '2015',
  'value': 0,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'ARG', 'value': 'Argentina'},
  'countryiso3code': '',
  'date': '2015',
  'value': 239470.6,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'ARM', 'value': 'Armenia'},
  'countryiso3code': '',
  'date': '2015',
  'value': 13445.59,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'ABW', 'value': 'Aruba'},
  'countryiso3code': '',
  'date': '2015',
  'value': 437.772,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'AUS', 'value': 'Australia'},
  'countryiso3code': '',
  'date': '2015',
  'value': 296838.1,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'AUT', 'value': 'Austria'},
  'countryiso3code': '',
  'date': '2015',
  'value': 362355.8,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'AZE', 'value': 'Azerbaijan'},
  'countryiso3code': '',
  'date': '2015',
  'value': 7681.284,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BHS', 'value': 'Bahamas, The'},
  'countryiso3code': '',
  'date': '2015',
  'value': 310.333,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BHR', 'value': 'Bahrain'},
  'countryiso3code': '',
  'date': '2015',
  'value': 0,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BGD', 'value': 'Bangladesh'},
  'countryiso3code': '',
  'date': '2015',
  'value': 386058.6,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BRB', 'value': 'Barbados'},
  'countryiso3code': '',
  'date': '2015',
  'value': 315.0794,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BLR', 'value': 'Belarus'},
  'countryiso3code': '',
  'date': '2015',
  'value': 44549.43,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BEL', 'value': 'Belgium'},
  'countryiso3code': '',
  'date': '2015',
  'value': 128345.2,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BLZ', 'value': 'Belize'},
  'countryiso3code': '',
  'date': '2015',
  'value': 4279.87,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BEN', 'value': 'Benin'},
  'countryiso3code': '',
  'date': '2015',
  'value': 76473.18,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BMU', 'value': 'Bermuda'},
  'countryiso3code': '',
  'date': '2015',
  'value': 123.3681,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BTN', 'value': 'Bhutan'},
  'countryiso3code': '',
  'date': '2015',
  'value': 54615.38,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BOL', 'value': 'Bolivia'},
  'countryiso3code': '',
  'date': '2015',
  'value': 48839.15,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BIH', 'value': 'Bosnia and Herzegovina'},
  'countryiso3code': '',
  'date': '2015',
  'value': 73353.16,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BWA', 'value': 'Botswana'},
  'countryiso3code': '',
  'date': '2015',
  'value': 23155.78,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BRA', 'value': 'Brazil'},
  'countryiso3code': '',
  'date': '2015',
  'value': 3887176,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'VGB', 'value': 'British Virgin Islands'},
  'countryiso3code': '',
  'date': '2015',
  'value': 18.58448,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BRN', 'value': 'Brunei Darussalam'},
  'countryiso3code': '',
  'date': '2015',
  'value': 5.814209,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BGR', 'value': 'Bulgaria'},
  'countryiso3code': '',
  'date': '2015',
  'value': 69034.96,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BFA', 'value': 'Burkina Faso'},
  'countryiso3code': '',
  'date': '2015',
  'value': 108923.9,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BDI', 'value': 'Burundi'},
  'countryiso3code': '',
  'date': '2015',
  'value': 49456.45,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'KHM', 'value': 'Cambodia'},
  'countryiso3code': '',
  'date': '2015',
  'value': 159807,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'CMR', 'value': 'Cameroon'},
  'countryiso3code': '',
  'date': '2015',
  'value': 217574.9,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'CAN', 'value': 'Canada'},
  'countryiso3code': '',
  'date': '2015',
  'value': 1587094,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'CPV', 'value': 'Cape Verde'},
  'countryiso3code': '',
  'date': '2015',
  'value': 1727.543,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'CYM', 'value': 'Cayman Islands'},
  'countryiso3code': '',
  'date': '2015',
  'value': 0,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'CAF', 'value': 'Central African Republic'},
  'countryiso3code': '',
  'date': '2015',
  'value': 13517.51,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'TCD', 'value': 'Chad'},
  'countryiso3code': '',
  'date': '2015',
  'value': 59316.84,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'CHI', 'value': 'Channel Islands'},
  'countryiso3code': '',
  'date': '2015',
  'value': 0,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'CHL', 'value': 'Chile'},
  'countryiso3code': '',
  'date': '2015',
  'value': 259606.8,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'CHN', 'value': 'China'},
  'countryiso3code': '',
  'date': '2015',
  'value': 9084482,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'COL', 'value': 'Colombia'},
  'countryiso3code': '',
  'date': '2015',
  'value': 251833.9,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'COM', 'value': 'Comoros'},
  'countryiso3code': '',
  'date': '2015',
  'value': 1607.804,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'COD', 'value': 'Congo, Dem. Rep.'},
  'countryiso3code': '',
  'date': '2015',
  'value': 862513.8,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'COG', 'value': 'Congo, Rep.'},
  'countryiso3code': '',
  'date': '2015',
  'value': 53145.05,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'COK', 'value': 'Cook Islands'},
  'countryiso3code': '',
  'date': '2015',

### - Undestanding the data

* **_[TO DO]_**: Display different data points

In [13]:
wb.get_dataframe({"3.1_RE.CONSUMPTION":"Renewable energy consumption (TJ)"},country='all',data_date=datetime.datetime(2015, 1, 1),
                 freq='Y', source=None, convert_date=False, keep_levels=False, cache=True)

                            Renewable energy consumption (TJ)
country
BES Islands                                         112.78860
Nauru                                                 0.32988
Niue                                                 16.63123
Wallis and Futuna                                     0.00000
Caucasian and Central Asia                                NaN
...                                                       ...
West Bank and Gaza                                 6701.55000
Western Sahara                                        0.00000
Yemen, Rep.                                        2433.20100
Zambia                                           301679.80000
Zimbabwe                                         324422.60000

[259 rows x 1 columns]

### - Exporting the data 

* **_[TO DO]_**: Save the retrieved renewable energy consumption data of all countries in 2015 in one .xlsx file
* **_[TO DO]_**: Save the renewable energy consumption data from 2006 to 2016 for each European country in individual .csv files (one per country)

In [22]:
all_data=wb.get_dataframe({"3.1_RE.CONSUMPTION":"Renewable energy consumption (TJ)"},country='all',data_date=datetime.datetime(2015, 1, 1),
                 freq='Y', source=None, convert_date=False, keep_levels=False, cache=True)
all_data.to_excel('wbdata.xlsx')
wb_1 = pd.read_excel('wbdata.xlsx')
wb_1

                        country  Renewable energy consumption (TJ)
0                   BES Islands                          112.78860
1                         Nauru                            0.32988
2                          Niue                           16.63123
3             Wallis and Futuna                            0.00000
4    Caucasian and Central Asia                                NaN
..                          ...                                ...
254          West Bank and Gaza                         6701.55000
255              Western Sahara                            0.00000
256                 Yemen, Rep.                         2433.20100
257                      Zambia                       301679.80000
258                    Zimbabwe                       324422.60000

[259 rows x 2 columns]

In [29]:
wb.search_countries('Italy')

id    name
----  ------
ITA   Italy

In [33]:
data_date = datetime.datetime(2006, 1, 1), datetime.datetime(2016, 1, 1)
countries=['GBR','FRA','ITA']
for country in countries:
    country_data=wb.get_dataframe({"3.1_RE.CONSUMPTION":"Renewable energy consumption (TJ)"},country=country,data_date=data_date,
                 freq='Y', source=None, convert_date=False, keep_levels=False, cache=True)
    country_data.to_csv(country+'.csv')

In [35]:
UK_data=pd.read_csv('GBR.csv')
UK_data

    date  Renewable energy consumption (TJ)
0   2016                                NaN
1   2015                          429157.50
2   2014                          358785.10
3   2013                          309751.80
4   2012                          243652.10
5   2011                          218559.60
6   2010                          198481.10
7   2009                          175739.70
8   2008                          155496.30
9   2007                          102465.00
10  2006                           87957.64

In [36]:
FR_data=pd.read_csv('FRA.csv')
FR_data

    date  Renewable energy consumption (TJ)
0   2016                                NaN
1   2015                           760300.4
2   2014                           736346.1
3   2013                           808277.4
4   2012                           725254.3
5   2011                           617406.4
6   2010                           731191.6
7   2009                           669329.4
8   2008                           649586.9
9   2007                           571542.2
10  2006                           530365.3

In [37]:
IT_data=pd.read_csv('ITA.csv')
IT_data

    date  Renewable energy consumption (TJ)
0   2016                                NaN
1   2015                           778697.1
2   2014                           782684.4
3   2013                           783549.1
4   2012                           708149.9
5   2011                           591321.2
6   2010                           665169.0
7   2009                           642121.3
8   2008                           587284.9
9   2007                           474291.2
10  2006                           411530.8